<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
About us
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">
            <div class="card my-3">
                <div class="card-body">
                    <h4 class="card-title"><em>About us</em></h4>

                    <p class="m-0">You are young and ambitious person?</p>
                    <p class="m-0">
                        You want to start your own business, but you do not know how?
                    </p>
                    <p class="m-0">
                        You do not dispose or you lack resources for the first step?
                    </p>
                    <hr>
                    <p class="my-3">
                        Hello my dear visitor,
                    </p>
                    <p class="m-0">
                        It is me, Greg Hyarapetyan, the founder of this project.
                    </p>
                    <p class="m-0">
                        I have just recently started programming and this is my very first web project, so please do not
                        judge me too
                        strictly.
                    </p>
                    <p class="m-0">
                        If you are someone who wants to open its own online shop, but you lack resources for creating
                        and
                        maintaining
                        your website, then our project is exactly for you!
                        With us, you can accomplish all your ideas and goals.
                        And of course, along with this, we made it possible for everyone to buy goods from any store,
                        thereby providing
                        feedback.
                    </p>
                    <p class="m-0">
                        For us it is very important the possibility of creating a business for those who do not have
                        such
                        resources and
                        who encounter some difficulties along the way.
                        Buy goods without even leaving the house!
                        Create your own business without even leaving the house!
                    </p>
                    <hr>
                    <p class="m-0">

                        Make your first step,
                    </p>
                    <p class="m-0">
                        Create your own online shop with us!
                    </p>
                    <p class="m-0">
                        This site made with support Gegham Jivanyan!
                    </p>

                </div>
            </div>
    </div>
</div>

{% endblock %}