<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <title>Market -
        {% block title_block %}
        Welcome to our online shop!
        {% endblock %}
    </title>

</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark default-color fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'market:about_for_customer' %}">Create your shop!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'market:customer_profile' %}">Profile
                            <span class="sr-only">(current)</span>
                        </a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:stock_list' %}">Stock list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:my_bag' %}">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:about_for_customer' %}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:contacts_for_customer' %}">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:logout' %}">Logout</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:admin_register' %}">Register as Admin
                        </a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:customer_register' %}">Register as
                            Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:about_for_customer' %}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'market:contacts_for_customer' %}">Contacts</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

</div>
<div class="main">
     {% block body_block %}
    {% endblock %}
</div>
<footer class="teal darken-4 py-3 text-center">
    <p class="m-0 text-white">Copyright &copy; Greg Hayrapetyan 2020</p>
</footer>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

</body>
</html>