<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block title_block %}
Edit Stock Name!
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-5 mx-auto mt-5">
            <!-- Default form login -->


            <form method="post" class="text-center border border-light p-5" action="{% url 'market:edit_stock_name' id %}">
                {% csrf_token %}

                <p class="h4 mb-4">Edit your stock name!</p>

                <!-- Username -->
                <input type="text" class="form-control mb-4" name="name" placeholder="Stock name"
                       value="{{ stock_name }}">


                <!-- Save button -->


                <input type="submit" value="Save" class="btn btn-default btn-rounded my-4">

                <!-- Register -->


            </form>
            <!-- Default form login -->
        </div>
    </div>
</div>

{% endblock %}
