<div class="col-2 default-color-dark z-depth-2">
    <ul class="sidebar list-inline py-3">
        <li class="sidebar-item">
            <a class="sedebar-link text-white" href="{% url 'market:income' %}">Your stock income</a>
            <hr>
        </li>
        <li class="sidebar-item">
            <a class="sedebar-link text-white" href="{% url 'market:my_stock' %}">Categories</a>
            <hr>
        </li>
        <li class="sidebar-item">
            <a class="sedebar-link text-white" href="{% url 'market:add_category' %}">Add Category</a>
            <hr>
        </li>
    </ul>
</div>
